<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StefanSupershop Newsletter Week 1</title>
  </head>
  <body>
    <!-- Remove this lines -->
    <h2 style="color: red; text-align: center">
      TODO: Make logics for editable newsletter with jinja, store letter in
      database!
    </h2>
    <!-- /Remove this lines -->
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="600">
      <tr>
        <td
          align="center"
          bgcolor="#ffffff"
          style="
            padding: 40px 0 30px 0;
            font-family: Arial, Helvetica, sans-serif;
          ">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="Superstefans logo"
            width="200"
            style="display: block" />
          <h1 style="font-size: 24px; margin: 20px 0">Newsletter Title</h1>
          <p style="font-size: 16px; margin: 20px 0">Hey Customer</p>
          <p style="font-size: 16px; margin: 20px 0">
            This is the first newsletter from StefanSupershop. We are happy to
            present our new products and offers. We hope you will find something
            you like.
          </p>
          <p style="font-size: 16px; margin: 20px 0">
            Best regards, <br />
            StefanSupershop
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
