{% macro render_field_with_errors(field) %}
<div class="fs-div" id="{{ field.id|default('form-control') }}">
  <div class="form-group">{{ field.label }} {{ field(**kwargs)|safe }}</div>
  {% if field.errors %}
  <ul>
    {% for error in field.errors %}
    <li class="text-danger">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %} {% macro render_field(field) %}
<div class="fs-div" id="{{ field.id|default('form-control') }}">
  {{ field(**kwargs)|safe }}
</div>
{% endmacro %} {% macro render_field_errors(field) %}
<div class="fs-div" id="{{ field.id if field else 'form-control' }}">
  {% if field and field.errors %}
  <ul>
    {% for error in field.errors %}
    <li class="text-danger">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %} {# render WTForms (>3.0) form level errors #} {% macro
render_form_errors(form) %} {% if form.form_errors %}
<div class="fs-div" id="fs-form-errors">
  <ul>
    {% for error in form.form_errors %}
    <li class="text-danger">{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endmacro %} {% macro prop_next() -%} {% if 'next' in request.args
%}?next={{ request.args.next|urlencode }}{% endif %} {%- endmacro %} {% macro
render_field(field, label=None, class="form-control") %}
<div class="form-group">
  {% if label %}
  <label for="{{ field.id }}">{{ label }}</label>
  {% endif %} {{ field(class_=class) }} {% if field.errors %} {% for error in
  field.errors %}
  <span class="error">{{ error }}</span>
  {% endfor %} {% endif %}
</div>
{% endmacro %}
