{% extends "baseTemplate.html" %} {% block title %} Newsletter {% endblock %}
{%block maincontent%}
<h1>Newsletters</h1>
<div class="btn-group" role="group" aria-label="Basic example">
  <a
    href="{{ url_for('admin.write_newsletter') }}"
    class="btn btn-default button"
    >Write Newsletter</a
  >
  <a
    href="{{ url_for('admin.add_email_newsletter') }}"
    class="btn btn-default button"
    >Manage Subscribers</a
  >
</div>
<p>&nbsp;</p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Sent</th>
      <th>Subject</th>
      <th>Created</th>
      <th>Delete</th>
      <th>Send</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for newsletter in newsletters %}
      <tr class="table-light">
        <td>
          {% if newsletter.Sent == True %}
            <i class="fa fa-check btn btn-success btn-xs"></i> {% else %}
            <i class="fa fa-times btn btn-danger btn-xs"></i>
          {% endif %}
        </td>
        <td>
          <a href="#"><strong>{{ newsletter.Subject }}</strong></a>
        </td>
        <td>
          {{ newsletter.Date.strftime('%Y-%m-%d') }}
        </td>
        <td>
          {% if current_user.is_admin %}
            <a
              href="{{ url_for('admin.delete_newsletter', id=newsletter.LetterID) }}"
              class="btn btn-danger btn-sm"
              ><i class="fa fa-trash"></i
            ></a>
          {% endif %}
        </td>
        <td>
          {% if current_user.is_authenticated %}
            {% if current_user.is_admin %}
              {% if not newsletter_email.sent %}
                <a
                  href="{{ url_for('admin.send_newsletter', id=newsletter.LetterID) }}"
                  class="btn btn-danger btn-sm"
                  ><i class="fa fa-paper-plane"></i
                ></a>
              {% endif %}
            {% endif %}
          {% endif %}
        </td>
        <td>
          <a
            href="{{ url_for('admin.edit_newsletter') }}"
            class="btn btn-danger btn-sm"
            ><i class="fa fa-eye"></i
          ></a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

</table>
{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    $(".fa-trash").click(function () {
      alert("Are you sure you want to delete this newsletter?");
    });
  });
  $(document).ready(function () {
    $(".fa-paper-plane").click(function () {
      alert("Are you sure you want to send this newsletter?");
    });
  });
</script>
{% endblock %}
