{% extends "baseTemplate.html" %} {% block title %} Newsletter {% endblock %} {%
from "security/_macros.html" import render_field_with_errors, render_field %}
{%block maincontent%}
<h1>Write Newsletter</h1>
<p>
  <a href="{{ url_for('admin.manage_newsletter') }}"
    ><i class="fa fa-chevron-left"></i>Manage Newsletter</a
  >
</p>

<form action="write-newsletter" method="post">
  {{ write_newsletter.csrf_token }}
  <div class="form-group">
    <label for="subject">Subject</label>
    {{ write_newsletter.subject(required='required') }}
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea
      rows="20"
      class="form-control"
      id="content"
      name="content"
      required></textarea>
  </div>
  <button type="submit" class="button">Save</button>
</form>
{% endblock %}
