{% extends "baseTemplate.html" %} {% block title %} Error: {{ error.code }} {%
endblock %} {%block maincontent %}
<div
  style="
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  ">
  <div class="alert alert-danger" role="alert">
    <h1 style="margin-bottom: 20px" class="alert-danger">
      {{ error.code }}: {{ error.name }}
    </h1>
    <p>{{ error.description }}</p>
    <br />

    {% if error.code == 403 %}
    <a
      href="../login"
      class="btn btn-danger"
      style="background-color: #fff; color: #dc3545; border-color: #dc3545"
      >Login to access</a
    >
    <span style="margin: 0 10px">or</span>
    {% endif %}
    <a href="{{ url_for('product.index') }}" class="btn btn-danger"
      >Back to home</a
    >
  </div>
</div>
{% endblock %}
